name: run-tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        laravel: [8.*, 9.*]
        stability: [prefer-lowest, prefer-stable]

    name: L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: composer require "laravel/framework:${{matrix.laravel}}"

      - name: Execute tests
        run: vendor/bin/phpunit
